@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(90deg, #AEFBFF, #EAA7FF);
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, #e180ff, #87f4fa);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #87f4fa,#e180ff);
    border-radius: 10px;
}
#main-container {
    border: 3.4px solid black;
}
.navbar {
    border-bottom: 3px solid black;;
}
.nav-item:hover {
    transition: .3s all;
    transform: translateY(-10px);
}
#text-gradient {
    background: -webkit-linear-gradient(160deg, #FE008E, #FF983D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#mail {
    border: 3px solid black;
}
#email-input {
    background-color: transparent;
    outline: none;
    border: none;
}
#btn-send {
    border: none;
    outline: none;
}
#btn-send:focus {
    transform: scale(.90);
}
#main-section {
    border-bottom: 3px solid black;
}
#partners {
    border-bottom: 3px solid black;
}
#blog-one {
    border-bottom: 3px solid black;
}
#btn-know-more {
    background: linear-gradient(90deg, #e180ff, #87f4fa);
    outline: none;
    border: none;
    border-radius: 10px;
}
#btn-know-more:hover {
    transition: 1s all;
    background: linear-gradient(90deg, #87f4fa, #e180ff);
}
#blog-two {
    border-bottom: 3px solid black;
}
#blog-two-left {
    border-right: 3px solid black;
}
#accordion {
    border-bottom: 3px solid black;
}